{% extends 'Glasneaker/base-category.html' %}
{% load staticfiles %}

{% block title_block %}
ADIDAS
{% endblock %}


{% block body_block %}
<div style="font-size: 38px;position: absolute; left: 650px; top: 150px">Adidas</div>
<div id="jnBrandList">
  <li><a href="" style="position: absolute; left: 80px; top: 220px">
      <figure>
        <img src="{% static 'images/28.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Clay"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">560+$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 400px; top: 220px">
      <figure>
        <img src="{% static 'images/25.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Cream"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">480$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 730px; top: 220px">
      <figure>
        <img src="{% static 'images/31.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 700<br> "Wave Runner"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">590$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 1040px; top: 220px">
      <figure>
        <img src="{% static 'images/yeezy04.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 700<br> "Mauve"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">350.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 550px">
      <figure>
        <img src="{% static 'images/yeezy05.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Lundmark"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">235.00$</div>
    </a></li>

  <li><a href="####" style="position: absolute; left: 400px; top: 550px">
      <figure>
        <img src="{% static 'images/yeezy01.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">

          Air Yeey 2 Sp<br> "Red October"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">7000.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 550px">
      <figure>
        <img src="{% static 'images/yeezy02.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yezzy Boost 750<br> "OG"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">580.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 550px">
      <figure>
        <img src="{% static 'images/yeezy03.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Yeey 2 Sp<br> "Early"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">5455.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 870px">
      <figure>
        <img src="{% static 'images/yeezy09.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 700<br> "Gedeo"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">290.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 400px; top: 870px">
      <figure>
        <img src="{% static 'images/yeezy10.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Static"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">380.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 870px">
      <figure>
        <img src="{% static 'images/yeezy11.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 700V2<br> "Static Wave"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">525.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 870px">
      <figure>
        <img src="{% static 'images/yeezy12.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Static Reflective"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">469.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 1190px">
      <figure>
        <img src="{% static 'images/yeezy13.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "OG"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">660.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 400px; top: 1190px">
      <figure>
        <img src="{% static 'images/yeezy14.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Cream"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">285.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 1190px">
      <figure>
        <img src="{% static 'images/yeezy15.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "True From"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">289.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 1190px">
      <figure>
        <img src="{% static 'images/yeezy16.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Yeezy Boost 350V2<br> "Triple Black"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">1005.00$</div>
    </a></li>
</div>

<div class="category-description std"
  style=" font-size:20px;border:1px #888888   solid;position: absolute; color:#808080;left: 20px; top: 1590px">

  When news broke that culture-transcending icon Kanye West would be joining the roster of celebrity designers at
  adidas, the sneaker world stood still in anticipation of what was to come. Created in 2015, the adidas Yeezy Boost
  line has since yielded instantly-recognizable and classic silhouettes that boast the same high level of taste and
  refinement that we’ve come to expect from his music.
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
      src="{% static 'images/glasgow2.png' %}"></a><a><img src="{% static 'images/address3.jpeg' %}"></a><a><img
      src="{% static 'images/address1.jpeg' %}"></a><a><img src="{% static 'images/glasgow3.jpg' %}"></a>

</div>

{% endblock %}