{% extends 'Glasneaker/base-category.html' %}
{% load staticfiles %}

{% block title_block %}
AIR JORDAN
{% endblock %}

{% block body_block %}
<style>
  #jnBrandList {
    margin-top: 250px;
    margin-left: 60px;
  }

  #jnBrandList li {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 50px;

  }
</style>
<div style="font-size: 38px;position: absolute; left: 600px; top: 150px">AIR JORDANS</div>
<div id="jnBrandList">
  {% for item in data %}
  <li><a href="/product/{{item.id}}">
      <figure>
        {{item.picture | safe}}
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          {{ item.name }}
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">{{ item.price }}$</div>
    </a></li>
  {% endfor %}
</div>

<div class="category-description std"
  style=" font-size:20px;border:1px #888888   solid;position: absolute; color:#808080;left: 20px; top: 1590px">
  Since 1985, the sneakers with Michael Jordan’s name and world-renowned “Jumpman” silhouette have helped define and
  shape sneaker culture. It began with a standard <a href=https://www.flightclub.com/nike/nike-dunks/dunk-high>Nike
    high-top</a> and evolved with daring designs with each iteration. From <a
    href=https://www.flightclub.com/air-jordans/air-jordan-3>graphic prints</a> to <a
    href=https://www.flightclub.com/air-jordans/air-jordan-11>patent leather</a> to <a
    href=https://www.flightclub.com/air-jordans/air-jordan-5>fighter planes</a> and <a
    href=https://www.flightclub.com/air-jordans/air-jordan-14>Ferrari-inspired designs</a>, Jordan sneakers routinely
  transcend their basketball roots by refreshing their initial offering with new looks and color schemes to remain
  relevant to each new generation. Here is our sotres:
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
      src="{% static 'images/glasgow2.png' %}"></a><a><img src="{% static 'images/address3.jpeg' %}"></a><a><img
      src="{% static 'images/address1.jpeg' %}"></a><a><img src="{% static 'images/glasgow3.jpg' %}"></a>
</div>

{% endblock %}