{% extends 'Glasneaker/base.html' %} {% load staticfiles %}

{% block title_block %}
Glasgow sneaker market
{% endblock %} {% block body_block %}
<style>
  .clearfix:before,
  .clearfix:after {
    content: "";
    display: table;
  }

  .clearfix:after {
    clear: both;
  }

  .clearfix {
    *zoom: 1;
  }

  #jnBrandList1 {
    margin-top: 650px;
    width: 1200px;
  }

  #jnBrandList1 li {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-bottom: 50px;
  }

  #jnBrandList2 {
    margin-top: 850px;
    width: 1200px;
  }

  #jnBrandList2 li {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
</style>
<div>
  <strong>{{ testmessage }}</strong>
</div>

<section>
  <!-- 定位基点 -->
  <div class="JaneShop">
    <!-- 轮播图片 -->
    <div class="container">
      <ul class="imgcss">
        <li><img src="{% static 'images/aj01.jpg' %}" /></li>
        <li><img src="{% static 'images/aj02.jpg' %}" /></li>
        <li><img src="{% static 'images/aj03.jpg' %}" /></li>
        <li><img src="{% static 'images/aj01.jpg' %}" /></li>
        <li><img src="{% static 'images/aj02.jpg' %}" /></li>
        <li><img src="{% static 'images/aj03.jpg' %}" /></li>
      </ul>
    </div>

    <div align="center" style="font-size: 25px">
      "The Best-Selling every month"
    </div>

    <div id="jnBrandList1" class="clearfix">
      <div align="left" style="font-size: 25px">AIR JORDAN series:</div>

      {% for item in data1 %}
      <li><a href="/product/{{item.id}}">
          <figure>
            {{item.picture | safe}}
            <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
              {{ item.name }}
            </figcaption>
          </figure>
          <div align="center" style="font-size: 15px;margin-top: 5px;">{{ item.price }}$</div>
        </a></li>
      {% endfor %}
      <a href="/airjordan/" class="button">Show More</a>
    </div>

    <div class="clearfix"></div>

    <div id="jnBrandList2" class="clearfix">
      <div align="left" style="font-size: 25px">Yeezy series:</div>
      {% for item in data2 %}
      <li><a href="/product/{{item.id}}">
          <figure>
            {{item.picture | safe}}
            <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
              {{ item.name }}
            </figcaption>
          </figure>
          <div align="center" style="font-size: 15px;margin-top: 5px;">{{ item.price }}$</div>
        </a></li>
      {% endfor %}
      <a href="/yeezy/" class="button">Show More</a>
    </div>
    <div class="clearfix"></div>
    <div align="left" style="font-size: 35px">OUR STORES</div>
    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
    <div>
      <a><img src="{% static 'images/glasgow2.png' %}" /></a>
      <a><img src="{% static 'images/address1.jpeg' %}" /></a>
      <a><img src="{% static 'images/glasgow3.jpg' %}" /></a>
    </div>
  </div>
</section>
{% endblock %}