{% extends 'Glasneaker/base-category.html' %}
{% load staticfiles %}

{% block title_block %}
NIKE
{% endblock %}


{% block body_block %}
<div style="font-size: 38px;position: absolute; left: 600px; top: 150px">&nbsp;&nbsp;&nbsp;NIKE</div>
<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 1190px">
      <figure>
        <img src="{% static 'images/aj13.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retro Sp<br> "Braons"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">550.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 400px; top: 1190px">
      <figure>
        <img src="{% static 'images/aj14.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan4 Retro Sp<br> "Green Glow"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">330.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 1190px">
      <figure>
        <img src="{% static 'images/aj15.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan11 Retro Sp<br> "Bred"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">460.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 1190px">
      <figure>
        <img src="{% static 'images/aj16.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan4 Retro Sp<br> "2016 Release"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">400.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 870px">
      <figure>
        <img src="{% static 'images/aj10.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan11 Retro Sp<br> "Blue"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">320.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 400px; top: 870px">
      <figure>
        <img src="{% static 'images/aj11.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan11 Retro Sp<br> "Gamma Blue"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">420.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 870px">
      <figure>
        <img src="{% static 'images/aj06.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan6 Retro Sp<br> "Cool"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">420.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 870px">
      <figure>
        <img src="{% static 'images/aj12.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retro Sp<br> "Shadow"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">315.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="###" style="position: absolute; left: 80px; top: 550px">
      <figure>
        <img src="{% static 'images/aj03.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 High OG<br> "Travis Scott"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">920.00$</div>
    </a></li>

  <li><a href="####" style="position: absolute; left: 400px; top: 550px">
      <figure>
        <img src="{% static 'images/aj01.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan6 Retro Sp<br> "Travis Scott"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">870.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 730px; top: 550px">
      <figure>
        <img src="{% static 'images/aj08.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 X<br> Off-white Unc
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">1200.00$</div>
    </a></li>

  <li><a href="###" style="position: absolute; left: 1040px; top: 550px">
      <figure>
        <img src="{% static 'images/aj02.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retri Sp<br> "Kawhi Leonard"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">1745.00$</div>
    </a></li>
</div>

<div id="jnBrandList">
  <li><a href="" style="position: absolute; left: 80px; top: 220px">
      <figure>
        <img src="{% static 'images/11.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retro Sp<br> "Court Purple"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">1100.00$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 400px; top: 220px">
      <figure>
        <img src="{% static 'images/10.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retri Sp<br> "TUROBO GREEN"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">565.00$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 730px; top: 220px">
      <figure>
        <img src="{% static 'images/08.jpg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retro High OG<br> "CRIMSON"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">290.00$</div>
    </a></li>

  <li><a href="" style="position: absolute; left: 1040px; top: 220px">
      <figure>
        <img src="{% static 'images/aj04.jpeg' %}">
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          Air Jordan1 Retro Sp<br> "Black Toe"
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">450.00$</div>
    </a></li>
</div>


<div class="category-description std"
  style=" font-size:20px;border:1px #888888   solid;position: absolute; color:#808080;left: 20px; top: 1590px">
  Since 1985, the sneakers with Michael Jordan’s name and world-renowned “Jumpman” silhouette have helped define and
  shape sneaker culture. It began with a standard <a href=https://www.flightclub.com/nike/nike-dunks/dunk-high>Nike
    high-top</a> and evolved with daring designs with each iteration. From <a
    href=https://www.flightclub.com/air-jordans/air-jordan-3>graphic prints</a> to <a
    href=https://www.flightclub.com/air-jordans/air-jordan-11>patent leather</a> to <a
    href=https://www.flightclub.com/air-jordans/air-jordan-5>fighter planes</a> and <a
    href=https://www.flightclub.com/air-jordans/air-jordan-14>Ferrari-inspired designs</a>, Jordan sneakers routinely
  transcend their basketball roots by refreshing their initial offering with new looks and color schemes to remain
  relevant to each new generation. Here is our sotres:
  <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
      src="{% static 'images/glasgow2.png' %}"></a><a><img src="{% static 'images/address3.jpeg' %}"></a><a><img
      src="{% static 'images/address1.jpeg' %}"></a><a><img src="{% static 'images/glasgow3.jpg' %}"></a>
</div>

{% endblock %}