{% extends 'Glasneaker/base-category.html' %}
{% load staticfiles %}

{% block title_block %}
YEEZY
{% endblock %}

{% block body_block %}
<style>
  #jnBrandList {
    margin-top: 250px;
    margin-left: 60px;
  }

  #jnBrandList li {
    float: left;
    width: 300px;
    height: 300px;
    margin-left: 40px;
    margin-bottom: 50px;

  }
</style>
<div style="font-size: 38px; position: absolute; left: 650px; top: 150px">
  YEEZY
</div>
<div id="jnBrandList">
  {% for item in data %}
  <li><a href="/product/{{item.id}}">
      <figure>
        {{item.picture | safe}}
        <figcaption align="center" style="font-size: 15px;margin-top: 5px;">
          {{ item.name }}
        </figcaption>
      </figure>
      <div align="center" style="font-size: 15px;margin-top: 5px;">{{ item.price }}$</div>
    </a></li>
  {% endfor %}
</div>


<div class="category-description std" style="
    font-size: 20px;
    border: 1px #888888 solid;
    position: absolute;
    color: #808080;
    left: 20px;
    top: 1590px;
  ">
  When news broke that culture-transcending icon Kanye West would be joining the
  roster of celebrity designers at adidas, the sneaker world stood still in
  anticipation of what was to come. Created in 2015, the adidas Yeezy Boost line
  has since yielded instantly-recognizable and classic silhouettes that boast
  the same high level of taste and refinement that we’ve come to expect from his
  music.
  <br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a><img
      src="{% static 'images/glasgow2.png' %}" /></a><a><img src="{% static 'images/address3.jpeg' %}" /></a><a><img
      src="{% static 'images/address1.jpeg' %}" /></a><a><img src="{% static 'images/glasgow3.jpg' %}" /></a>
</div>
{% endblock %}