

@charset "utf-8";

/* CSS Document */


* {
  margin: 0;
  padding: 0;
}



html,
body {
  font-size: 12px;
  font-family: "微软雅黑", "arial";
  color: #262626;
  background: #FFF;
}



ul li,
ol li {
  list-style: none;
}



a {
  text-decoration: none;
  outline: none;
  color: #262626;
  blr: expression(this.onFocus=this.blur());
}



img {
  border: none;
}



table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

input,
textarea,
select,
button {
  font-size: 100%;
  font-family: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

label,
button {
  cursor: pointer
}

textarea {
  white-space: pre;
  resize: none;
  border: 1px solid #ececec;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}



.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}



.fl {
  float: left;
}

.fr {
  float: right;
}

.mt {
  margin-top: 80px;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}






.ding {
  margin-top: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 20px 0;
  background: #fff;
  z-index: 100;
}

.ding h1 {
  position: absolute;
  left: 10%;
  top: 20%;
}

.ding h1 img {
  width: 65%;
}


/*.ding #top1{
  display: none;
}*/

.ding #top1 p,
.ding #top1 div {
  display: none;
}

.ding ul li a:before {
  bottom: -25px;
}

.ding div.sList,
.ding div.sList2 {
  top: 81px;
}

.ding ul {
  float: left;
  margin-left: 18%;
  line-height: 0;
}

.ding div form {
  width: 185px;
  height: 30px;
  line-height: 30px;
  margin: 0 10px;
  margin-top: 5px;
  border-bottom: 1px solid #262626;
}

.ding div.sList2 a {
  float: left;
  margin-right: 40px;
  line-height: 38px;
}

.ding div.sList div dl dd {
  line-height: 35px;
}
.address {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #DBDBDB;
}

.address a,
.address span {
  float: left;
  color: #777;
}

.address span {
  margin: 0 20px;
}

.address a.on {
  color: #262626;
}


/*********************footer********************/

.footer {
  min-width: 1160px;
}

.footer .top {
  padding: 30px 0;
  border-top: 1px solid #DBDBDB;
  border-bottom: 1px solid #DBDBDB;
}

.footer .top .wrapper {
  display: flex;
}

.footer .top .wrapper div {
  flex: 1 1 25%;
  border-right: 1px solid #dbdbdb;
}

.footer .top .wrapper div:last-child {
  border-right: none;
}

.footer .top .wrapper div a img {
  display: block;
}

.footer .top .wrapper div a {
  margin-left: 25%;
}

.footer .top .wrapper div span {
  margin-top: 15px;
  margin-left: 10px;
  display: block;
  font-size: 16px;
}

.footer p.dibu {
  background: #000;
  padding: 30px 0;
  text-align: center;
  color: #fff;
}


/*********************gotop********************/

body {
  position: relative;
}

.gotop {
  position: fixed;
  right: 20px;
  top: 400px;
  z-index: 20;
}

.gotop a {
  display: block;
  width: 48px;
  height: 48px;
  line-height: 38px;
  background: #f4f4f4;
  margin-bottom: 10px;
  border: 1px solid #d6d6d6;
  cursor: pointer;
}

.gotop dl dt {
  margin: 0 auto;
  width: 20px;
  padding-top: 10px;
}

.gotop dl.goCart {
  position: relative;
}

.gotop dl.goCart span {
  position: absolute;
  top: -9px;
  right: -8px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #c10000;
  color: #fff;
  text-align: center;
  line-height: 16px;
}

.gotop dl dd {
  display: none;
  background: #a10000;
  height: 41px;
  width: 41px;
  color: #fff;
  padding: 8px 0 0 10px;
  line-height: 15px;
}

.gotop p {
  border: 1px solid #A10000;
  padding: 10px;
  position: absolute;
  background: #f4f4f4;
  top: 66px;
  left: -130px;
  display: none;
}

.gotop p:before {
  position: absolute;
  top: 50%;
  right: -6px;
  width: 0;
  margin-top: -5px;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-bottom: 5px solid transparent;
  border-left: 5px solid #a10000;
  border-top: 5px solid transparent;
}















   
      section{
        width:100%;
      }
      .JaneShop{
         margin: 0 auto;
         width: 990px;
         padding: 10px 0;
         overflow: auto;
         position: relative;
      }

    .lastNav{
        position: absolute;
        top: 1200px;
        left: 0;
        width: 1440px;
        background-color: #444444;
        height: 48px;
        line-height: 50px;
    }

    .lastNav1{
        position: absolute;
        top: 1200px;
        left: 0;
        width: 1440px;
        background-color: #444444;
        height: 48px;
        line-height: 50px;
    }

    .logo1{
        float: left; 
        margin: 7px 10px 510px 610px;
        color: #FFF;
       /*  line-height: 80px; */
    }

      footer{
        clear: both;
        text-align: center;
        font-weight: 700px;
      }

      
       #header{
         background: url("../images/headerbg.png")    scroll 0 0 #888888;
         height: 100px;
     }
     #header .contWitch{
         position: relative;
         height: 105px;
         width: 1200px;
         margin: 0 auto;
         z-index: 100;
         /* background-color: orange; */
     }
     #header .logo{
        float: left;
        margin: 18px -20px;
        color: #FFF;
       /*  line-height: 80px; */
    }
    #header input{
       /*  margin: 20px auto  auto 40px; */
       position: absolute;
       left: 200px;
       top: 19.5px;
       height: 20px;
       width: 300px;
       padding: 3px 6px 5px 6px;
       font-size: 14px;
       color:#888888;
       font-family: courier new,courier,monospace;
    }

    .mainNav{
        position: absolute;
        top: 60px;
        left: -130px;
        width: 1450px;
        background-color: #444444;
        height: 48px;
        line-height: 50px;
    }
    .nav{
         display: inline;
         margin-left: 300px;
         float: left;
    }
    .nav li{
        float: left;
        margin-right: 40px;
        position: relative;
    }
    .nav li>a{
        text-decoration: none;
        font-style: normal;
        font-weight: 200px;
        color: #FFFFFF;
        font-size: 18px;
        font-family:serif;
        padding: 2px 14px;
    }
    .nav li>a:hover{
        background-color: orange;
        text-decoration: underline;
    }

  .button {
  margin:0 50px 0 420px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #555555;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #e7e7e7}

.button:active {
  background-color: #0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
}

.button2 {
  margin:0 50px 0 420px;
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #555555;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button2:hover {background-color: #e7e7e7}

.button2:active {
  background-color: #0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

   
    
    

